{
  "idmg": "zeYncRqEqZ6eTEmUZ8whJFuHG796eSvCTWE4M432izXrp22bAtwGm7Jf",
  "user_id": "z2i3XjxCDAGwFYcop41qbtTzctCZfyZBcGtVRKKxHp1JWrrcTKq",
  "http_instance": "https://mg-dev1.maple.maceroc.com",
  "http_timeout": 25,
  "wifis": [
      {"wifi_ssid": "bada", "wifi_password": "mauvais"},
      {"wifi_ssid": "MKD-Harpg", "wifi_password": "mauvais"}
  ]
}